body{
    margin: 0;
}
.container {
    width: 100vw;
    height: 100vh;
    background: #E1CA6A 0% 0% no-repeat padding-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.logo {
    width: 50%;
    text-align: center;
}

.login-container{
    width: 50%;
}

.formularz{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 40vh;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 76px;
}

form{
    background-color: #E1CA6A;
    width: 100vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button{
    background: #C7A190 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 33px;

    width: 20%;
    border: none;
    color: white;
    margin: 1em;
    line-height: 2.5em;
}

.login{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid gray;
    padding: 1em;
    margin: 1em;
    width: 50%;
}


.base-container{
    background-color: #E1CA6A;
    width: 100vw;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


p {
    font: normal normal normal 25px/20px Segoe UI;
    letter-spacing: 0px;
    color: #FFFFFF;
}

.button-choose{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 62px;
    text-align: left;
    font: normal normal normal 25px Segoe UI;
    letter-spacing: 0px;
    color: #C7A190;
    text-align: center;
    padding: 0.3em;
    width: 12em;

}

.choose{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 62px;
    text-align: left;
    font: normal normal normal 25px Segoe UI;
    letter-spacing: 0px;
    color: #C7A190;
    text-align: center;
    padding: 0.1em;
    width: 15em;
    margin: 0.5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.info {
    background-color: transparent;
    padding: 0.5em;
    width: 10%;
    height: 10%;
    font-size: 25px;
    margin-left:4em;
    
    
}

.ramka{
    background: #D8BC77 0% 0% no-repeat padding-box;
    text-align: center;
    font: normal normal normal 20px/40px Segoe UI;
    letter-spacing: 0px;
    color: #FFFFFF;border-radius: 40px;
    width: 2em;
    margin-left: 1em;
}

.dalej{
    background: #C7A190 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 33px;

    width: 10%;
    border: none;
    color: white;
    margin: 1em;
    line-height: 2.5em;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: white;
}

a:visited{
    color: white;
}

a:active{
    color: white;
}

ul {

    list-style-type: none;
    
    }

.konto{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 62px;
    text-align: left;
    font: normal normal normal 25px Segoe UI;
    letter-spacing: 0px;
    color: #C7A190;
    text-align: center;
    padding: 0.3em;
    width: 12em;
    float: right;
    margin: 0.5em;
    border: none;
}

header{
    background: #D0AF83 0% 0% no-repeat padding-box;
    border-radius: 57px;
    text-align: right ;
    padding-right: 2em;
    height: 10vh;
}

.base-container-profil{
    background-color: #E1CA6A;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.button-profil{

    background: #e1ca6a 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 33px;
    width: 15em;
    border: none;
    color: #C7A190;
    margin: 1em;
    line-height: 2.5em;
}

nav{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start ;
    background: #D0AF83 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #D0AF83;
    border-radius: 43px;
}

main{
    width: 1000vw;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

section{
    background: transparent linear-gradient(180deg, #E1CA6A 0%, #FFFFFF 100%, #716535 100%) 0% 0% no-repeat padding-box;
    border: none;  
    height: 90vh;
    width: 80vw;
    text-align: center;
    overflow: auto;
}

.profil{
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border-radius: 62px;
        text-align: left;
        font: normal normal normal 25px Segoe UI;
        letter-spacing: 0px;
        color: #C7A190;
        text-align: center;
        padding: 0.3em;
        width: 12em;
        margin: 0.5em;
        border: none;
    
}

.edycja{
    text-align: center;
    padding: 1em;
}

.dni{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 62px;
    text-align: left;
    font: normal normal normal 20px Segoe UI;
    letter-spacing: 0px;
    color: #C7A190;
    text-align: center;
    padding: 0.3em;
    width: 7em;
    float: left;
    margin: 0.5em;
    border: none;
}

.danie{
    background: #F2EEDC 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 33px;
    width: 80%;
    border: none;
    margin: 0.3em;
    line-height: 2.5em;
    text-align: center;
    font: normal normal bold 30px/40px Segoe UI;
    letter-spacing: 0px;
    color: #C7A190;
    height: 2.5em;
}

table.table-colored {
    width: 100%;
    background-color: #ffffff;
    border-collapse: collapse;
    border-width: 2px;
    border-color: #f7af09;
    border-style: solid;
    color: #000000;
}

table.table-colored td, table.table-colored th {
    border-width: 2px;
    background-color: #E1CA6A ;
    border-color: #D0AF83;
    border-style: solid;
    padding: 3px;
}

table.table-colored td.active {
    background-color: #E1CA6A;
    border-color: #E1CA6A;
}

table.table-colored thead {
    background-color: #D0AF83;
}

table.table-colored td.blocked {
    background-color: #a03438;
    border-color: #a03438;
}

.dietInfo {
    cursor: pointer;
}

.meals {
    clear: both;
}

.meals p {
    font-size: 13px;
    color: black;

}

img {

    width: 70%;

}

.no-vaild{

    border: 3px solid red;
    border-radius: 1em;
    box-shadow: 0 0 0.2em red;
    outline: none;
}